/Documentation/Explanation 1/screen captures
/Media/Images/Caserta2010.psd
/UIBoard/UIBoard.xcodeproj/xcuserdata
/UIBoard/UIBoard.xcodeproj/project.xcworkspace/xcuserdata
/UIDescriptionWalker/UIDescriptionWalker.xcodeproj/xcuserdata
/UIDescriptionWalker/UIDescriptionWalker.xcodeproj/project.xcworkspace/xcuserdata
/UIBoardGenerator/UIBoard.xcodeproj/xcuserdata
/UIBoardGenerator/UIBoard.xcodeproj/project.xcworkspace/xcuserdata
/UIBoardViewer/static/BoardDescriptions/MovieSwift-
/UIBoardViewer/build
/UIBoardViewer/build.zip
